<%- include('header') -%>
<div class="box" id="heading">
  <h1>List Title</h1>
</div>
<div class="form">
  <form action="">
    <div class="item">
      <input type="checkbox" name="checkbox" onchange="this.form.submit()" />
      <p>Item name</p>
    </div>
    <input type="hidden" name="listName" />
  </form>

  <form action="" class="item">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <button type="submit">+</button>
  </form>
</div>
<h1>Home</h1>
<%- include('footer') -%>
