<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Your New To-Do App</title>
    <link rel="stylesheet" href="/welcome.css" />
  </head>
  <body>
    <div class="welcome-container">
      <div class="welcome-message">
        <h1>Welcome to Your New To-Do App!</h1>
        <p>Let's Get Started, <%= username %>! <a href="/login">Log In</a></p>
      </div>
    </div>
  </body>
</html>
